.featuredArticle {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.featuredArticleImage {
  width: 100%;
}

.articleTitle {
  margin-top: 1.5rem;
  font-size: calc(35rem / 16);
  font-weight: 700;
}

.articleDescription {
  color: grey;
  font-size: calc(18rem / 16);
  margin: 1.4rem 0;
}

.readMoreButton {
  color: black;
  font-weight: 800;
  font-size: calc(18rem / 16);
  background-color: rgb(230, 76, 76);
  outline: none;
  border: none;
  max-width: 15rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 1rem;
}

.readMoreButton:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.newArticles {
  margin: 3rem 1.3rem;
  padding: 2rem 1rem;
  background-color: rgb(18, 0, 46);
}

.newTitle {
  color: rgb(207, 159, 0);
  font-weight: 600;
  font-size: calc(30rem / 16);
  margin-bottom: 1.5rem;
}

.newArticleTitle {
  color: white;
  font-size: calc(18rem / 16);
  font-weight: 600;
}

.newArticleDescription {
  color: rgb(161, 161, 161);
  font-size: calc(14rem / 16);
}

.newArticleTitle:hover {
  color: rgb(207, 159, 0);
  cursor: pointer;
}

.newArticlesContainer {
  display: flex;
  flex-direction: column;
}

.noUnderline {
  text-decoration: none;
}

.divider {
  border: none;
  background-color: rgb(99, 99, 99);
  height: 2px;
  margin: 1.3rem 0.2rem;
}

.newArticle:last-of-type .divider {
  display: none;
}

.topArticles {
  margin: 3rem 0;
  padding: 0 calc(18rem / 16);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topArticle {
  display: flex;
  gap: 1.3rem;
}

.topArticleImage {
  max-width: 8rem;
  height: 20rem;
  object-fit: cover;
  height: auto;
}

.topArticleNumber {
  font-size: calc(36rem / 16);
  color: rgb(216, 97, 0);
  font-weight: 800;
}

.topArticleInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.topArticleTitle {
  color: black;
  font-weight: 800;
  font-size: calc(20rem / 16);
}

.topArticleTitle:hover {
  color: rgb(216, 97, 0);
}
.topArticleDescription {
  color: rgb(117, 117, 117);
  font-size: calc(18rem / 16);
}

@media (min-width: 80rem) {
  .homeContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: start;
    padding: 1rem;
    grid-column-gap: 1.5rem;
    grid-template-areas:
      "featured featured new"
      "featured featured new"
      "top top top";
    max-width: 120rem;
    margin: 0 auto;
  }

  .featuredArticle {
    margin: 0;
    padding: 0;
    grid-area: featured;
  }

  .featuredArticleImage {
    height: 40rem;
  }
  .newArticles {
    margin: 0;
    height: 90%;
    grid-area: new;
  }

  .topArticles {
    grid-area: top;
  }

  .articleSection {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    gap: 3rem;
  }

  .buttonSection {
    display: flex;
    flex-direction: column;
  }

  .topArticles {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .topArticleImage {
    height: 13rem;
  }
}
