.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.mobileNavMenu {
  background-color: white;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

.mobileNavMenu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid black;
}

.openMenuIcon:hover {
  cursor: pointer;
}

.closeMenuIcon {
  align-self: flex-end;
}

.closeMenuIcon:hover {
  cursor: pointer;
}
