.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.mobileNavMenu {
  background-color: white;
  width: 50%;
  min-height: 100dvh;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  overflow-y: auto;
}

.mobileNavMenu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.openMenuIcon:hover {
  cursor: pointer;
}

.closeMenuIcon {
  align-self: flex-end;
}

.closeMenuIcon:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  border: none;
  font-size: calc(18rem / 16);
  color: black;
}

.links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.desktopLinks {
  display: none;
  gap: 2rem;
}

.desktopLink {
  text-decoration: none;
  border: none;
  font-size: calc(18rem / 16);
  color: rgb(82, 82, 82);
}

@media (min-width: 80rem) {
  .mobileNavMenu {
    display: none;
  }

  .openMenuIcon {
    display: none;
  }

  .desktopLinks {
    display: flex;
  }

  .desktopLinks ul {
    display: flex;
    gap: 3rem;
  }

  .desktopLinks li {
    list-style-type: none;
  }

  .nav {
    padding: 3rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}
